<!DOCTYPE html>
<html>

<head>
    <title>ENP</title>
    <meta name="viewport" content="width=device-width, intial scale=1" lang="en" charset="UTF-8">
    <link rel="icon" href="a.ico" type="image/x-icon" />
    <link rel=stylesheet href="css/index.css" />
</head>

<body background="../images/bg.jpg">
    <header class="top-bar">
        <h1 class="logo-title">ENP</h1>
        <div class="nav-bar">
        <nav>
            <a class="bar-opt"><h3>Profile</h3></a>
            <a class="bar-opt"><h3>Products</h3></a>
            <a class="bar-opt"><h3>Cart</h3></a>
        </nav>
        </div>
        <div class="login-register">
            <a class="button" href="register.html"><h5>Register</h5></a>
            <a class="button" href="login.html"><h5>Log in</h5></a>
        </div>
    </header>
    <section class="left-sidebar">
        <section class="sidebar-block">
            <h3>Categories</h3>
            <div class="categories">    
                    <a class="sidebar-el">T-Shirts</a>
                    <a class="sidebar-el">Omae wa mou shindeiru</a>
                    <a class="sidebar-el">Nani?</a>
                    <a class="sidebar-el">Necklaces</a>
                <a class="sidebar-el"></a>
            </div>
        </section>
    </section>
    <section class="products">
        <a><img src="imgage.png" alt="imagen"  /></a>
    </section>
 
    
</body>

</html>
