body{
    background-image: url(../../images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
nav{
    overflow: hidden;
    background-color: rgb(51, 51, 51);
    color: white;
}

nav a{
    float: left;
    text-align: center;
    padding: 20px 20px;
    color: white;
    font-size: large;
    text-decoration: none;
}

.dropdown{
    float: left;
    overflow: hidden;
    font-size: large;
}

.dropdown .dropbutton{
    border: none;
    outline:none;
    padding:20px 20px;
    background-color: inherit;
    color: inherit;
}

nav a:hover .dropdown:hover{
    background-color: rgb(140, 140, 140);
}

.dropdown a:hover{
    background-color: rgb(140, 140, 140);
}


.dynamicdropdown{
    display: none;
    position: absolute;
    background-color: rgb(191, 191, 191);
    z-index: 1;
    min-width: 100px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.dynamicdropdown a{
    float: none;
    padding:20px 20px;
    display: block;
    text-align: left;
    text-decoration: none;
}

.dropdown:hover .dynamicdropdown{
    display: block;
}

.user-bar{
    display: none;
}