.column {
    float: left;
    width: 33.3%;
    border-color: rgba(0,0,0,0.7);
    background-color: rgba(0,0,0,0.7);
    margin: auto 0;
    box-sizing: border-box;
}
.product-image{
    height: 100px;
}